

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:5px ;
  background: linear-gradient(320deg ,#dc6e3e, #d3c013);
  border-bottom: 1px solid var(--border-color);

  top: 0;
  z-index: 100;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Toggle Button */
.loadButton {
  margin-top: 30px;
 background: #d7d043;
 color: #131111;
  padding: 0.6rem 1.3rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.loadButton:hover {
  opacity: 0.85;
  transform: scale(1.03);
}

/* Message before loading */

