.page-content {
  max-width: 1100px;
  margin: 60px auto;
  padding: 0 20px;
  font-family: "Poppins", sans-serif;
}

.page-content h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: var(--primary-color);
}

.page-content p {
  font-size: 1.05rem;
  line-height: 1.8;
  margin-bottom: 30px;
}

.info-box-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}

.info-box {
  background: #f8f9fb;
  padding: 18px;
  border-radius: 12px;
  font-weight: 500;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}
.support-list {
  margin: 20px 0 40px;
  padding-left: 20px;
}

.support-list li {
  margin-bottom: 10px;
  font-size: 1.05rem;
  line-height: 1.6;
}
